#container{
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, grey, 5, 0, 0, 0);
}

#threeDot_icon{
    -fx-background-radius: 50;
    -fx-background-color: transparent;
}

#threeDot_icon:hover{
    -fx-background-color: rgb(211,211,211,0.6);
}

#threeDot_icon:pressed{
    -fx-background-color: rgb(211,211,211);
}

#menu_button{
    -fx-background-radius: 10;
    -fx-background-color: transparent;
}

#menu_button:hover{
    -fx-background-color: rgb(211,211,211,0.6);
}

#menu_button:pressed{
    -fx-background-color: rgb(211,211,211);
}

#menu_container{
    -fx-background-color: white;
    -fx-effect: dropshadow(two-pass-box, grey, 5, 0, 0, 0);
    -fx-background-radius: 10;

}


.text-area, .text-area .viewport, .text-area .content{
    -fx-background-color: transparent;
}

#postLikeTrue{
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-text-fill: rgb(192, 64, 0);
}

#postLikeTrue:hover{
    -fx-background-color: rgb(211,211,211,0.4);
}

#postLikeTrue:pressed{
    -fx-background-color: rgb(211,211,211,0.4);
}

#postLikeFalse{
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-text-fill: rgb(0,0,0);
}

#postLikeFalse:hover{
    -fx-background-color: rgb(211,211,211,0.4);
}

#postLikeFalse:pressed{
    -fx-background-color: rgb(211,211,211,0.4);
}
