#postSectionButton{
    -fx-background-color: rgb(211,211,211,0.5);
    -fx-background-radius: 20px;
}

#postSectionButton:hover{
    -fx-background-color: rgb(211,211,211,0.75);
}

#postSectionButton:pressed{
    -fx-background-color: rgb(211,211,211);
}

#repliesSectionButton{
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
}

#repliesSectionButton:hover{
    -fx-background-color: rgb(211,211,211,0.75);
}

#repliesSectionButton:pressed{
    -fx-background-color: rgb(211,211,211);
}